.popup{
    position: fixed;
    top:0;
    width:1;
    height:1px;
    animation: backOutLeft;
    animation-duration: 10s;
    text-align: center;
} 

.popup-inner{
    position: flex;
    height: 10vmin;
    padding: 20px;
    width: 1000px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    animation: backOutLeft;
    animation-duration: 10s;
    text-align: center;
}

.App-card {
    position:relative;
    height: 400px;
    width:200px;
    text-align: center;

    animation: backOutLeft;
    animation-duration: 10s;
  }

  .App-car:hover {
    cursor:pointer
  }