body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.card {
  max-width: 60%;  
  text-align: center;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 135px;
  margin-right: -1px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: center;
}
.game-board {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
.game-info {
  margin-left: 20px;
}